*{
  margin: 0;
}

#MainBody {
  height : 92vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}
#SubmitForm{
  border-radius: 50px;
  background-color : white;
  border: solid 1px black;
  width : 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#header {
margin-top: 15px;
}
#switchBtn{
  position: absolute;
  bottom:18vh;
}